doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/stylesheets/admin/layout.css')
		block styles
	body
		div.main-block
			div.menu
				ul
					li
						a(href="/admin/") Home
					li
						a(href="/admin/products") Products
					li
						a(href="/admin/addProduct") Add Product
					li
						a(href="/admin/sellings") Selling
			p Hi, admin
			if hasErrors
				each e in messages
					p= messages
			block content
		script(src="https://cdn.jsdelivr.net/npm/vue")
		script(src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js")
		block scripts