@font-face {
  font-family: 'RaconteurNF';
  src: url("./fonts/raconteur-nf/RaconteurNF.ttf") format("truetype"); }

@font-face {
  font-family: 'Droid Serif';
  src: url("./fonts/droid-serif/DroidSerif.ttf") format("truetype"); }

.become {
  font-family: 'Droid Serif';
  display: flex; }
  .become .left {
    display: flex;
    flex-direction: column;
    width: 70%; }
    .become .left > * {
      display: flex;
      height: 40px;
      align-items: center;
      margin-bottom: 15px; }
      .become .left > * label {
        width: 15%; }
      .become .left > * input {
        -moz-appearance: textfield;
        border: 1px solid #e7e7e7;
        height: 85%;
        width: 80% !important;
        color: #8e8e8e;
        padding-left: 10px;
        width: auto; }
      .become .left > *:last-child {
        align-self: flex-start; }
    .become .left p:first-child {
      font-size: 24px;
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 15px; }
    .become .left .easy {
      font-weight: bold; }
    .become .left .name {
      display: flex;
      height: 40px; }
      .become .left .name > * {
        height: 100%;
        width: 50%;
        display: flex; }
        .become .left .name > * label {
          align-self: center;
          width: 30% !important; }
        .become .left .name > * input {
          height: 85%;
          width: 60% !important; }
    .become .left button {
      margin-left: 15%;
      margin-top: 10px;
      background-color: black;
      color: white;
      border: 0px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      width: 170px;
      height: 50px;
      font-size: 18px; }
      .become .left button span {
        margin-right: 10px; }
      .become .left button img {
        transform: scale(1.3); }
    .become .left .userType {
      align-items: unset;
      margin-top: 20px; }
      .become .left .userType label {
        width: auto;
        display: flex;
        margin-right: 20px; }
        .become .left .userType label input {
          height: auto !important;
          width: auto !important;
          border: 1px solid black; }
  .become .right {
    width: 30%; }
    .become .right .error {
      margin-top: 10px; }
      .become .right .error p {
        border: 1px solid red;
        margin: 5px 0px; }
    .become .right p:first-child {
      font-size: 24px;
      margin-top: 25px;
      padding-top: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid #e7e7e7; }
    .become .right > * {
      padding-left: 20px; }
    .become .right .icons {
      margin-top: 50px; }
      .become .right .icons .social {
        display: flex; }
        .become .right .icons .social a {
          width: 20px;
          height: 20px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black;
          margin: 0px 5px;
          transition: all 0.3s linear; }
          .become .right .icons .social a:hover {
            background-color: white; }
            .become .right .icons .social a:hover img {
              filter: invert(0%); }
          .become .right .icons .social a img {
            filter: invert(100%);
            transform: scale(0.8);
            transition: all 0.3s linear; }
          .become .right .icons .social a .facebook {
            transform: scale(0.6) translateY(20%); }
          .become .right .icons .social a .google {
            margin-left: -3px;
            margin-bottom: -3px; }

@media (max-width: 640px) {
  .become {
    font-size: 12px; }
    .become .left p:first-child {
      font-size: 14px; }
    .become .left .name {
      flex-direction: column; }
      .become .left .name > * {
        width: 100%; }
    .become .right p:first-child {
      font-size: 14px;
      margin-top: 4px; } }

@media (max-width: 450px) {
  .become .left {
    width: 100%; }
  .become .right {
    display: none; } }

/*# sourceMappingURL=create.css.map */